[submodule "contiki"]
	path = contiki
	url = https://github.com/contiki-os/contiki.git
[submodule "tiny-AES-c"]
	path = tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "avr-crypto-lib"]
	path = avr-crypto-lib
	url = https://github.com/cantora/avr-crypto-lib.git
[submodule "hmac-sha1"]
	path = hmac-sha1
	url = https://github.com/Akagi201/hmac-sha1.git
[submodule "hmac"]
	path = hmac
	url = https://github.com/ogay/hmac.git
